@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  color: black;
}

body {
  background: #ffdf8c;
  padding-top: 24px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

nav {
  padding-bottom: 40px;
}

.navbar-wrapper {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
}

.logo-title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #181818;
}

.logo-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #7b7b7b;
}

.logo-box {
  display: flex;
  gap: 15px;
}

.nav-btn {
  background: #fe5f1e;
  border-radius: 30px;
  width: fit-content;
  padding: 14px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s linear all;
}

.nav-btn:hover {
  background: black;
  transition: 0.3s linear all;
}

.btn-korzinka {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 13px 43px;
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #757575;
}

.nav-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #757575;
}

.input-box {
  position: relative;
}

.input-lupa {
  position: absolute;
  top: 25%;
  left: 12px;
}

.menu-btn {
  padding: 13px 30px;
  background: #f9f9f9;
  border-radius: 30px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s linear;
  text-decoration: none;
}

.menu-btn:hover {
  background-color: #fe5f1e;
  color: white;
  transition: all 0.3s linear;
}

.menu-btn:focus {
  background-color: black;
  color: white;
  transition: all 0.3s linear;
}

.menu-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 49px;
}

/* .all-pizzas {;
} */

.main-wrapper {
  margin-top: 49px;
  background: #FFFFFF;
  box-shadow: 5px 2px 30px rgba(210, 208, 215, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.pizza-card {
  height: 421.25px;
  width: 302.45574951171875px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  box-sizing: border-box;
}

.img {
  left: calc(50% - 231.25px/2 - 0.6px);
  top: 20px;
  border-radius: 14px;
  margin: 9px 0px;
}



.pizza-name {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000000;
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #828282;
}

.price {
  display: flex;
  align-items: flex-end;
  padding: 8px 17.7188px 8px 12px;
  width: 108.72px;
  height: 30px;
  left: 0px;
  top: 120px;
  background: #EBEBEB;
  border-radius: 7px;
  text-align: end-0;
}

.shoppingcart {
  display: flex;
  align-items: flex-end;
}

.buy {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}